[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "python -m dropspot"
fmt = "black -l 80 -t py37 dropspot"
db = "python manage.py db"

[dev-packages]
mypy = "*"
black = "*"

[packages]
flask = "*"
pyotp = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
