<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

  <title>Dropspot</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BASE</h1>
	  </div>
    </div>
    <div class="row">
      <div class="col">
	    {% for cat, msg in get_flashed_messages(with_categories=true) %}
		{% if cat == 'error' %}
		{% set class = 'alert alert-danger' %}
		{% else %}
		{% set class = 'alert alert-success' %}
		{% endif %}
        <div class="{{ class }}">{{ msg }}</div>
        {% endfor %}
      </div>
	</div>
	<div class="row justify-content-center">
	<div class="col-4">
    {% block content %}{% endblock %}
    </div>
    </div>
  </div>
</body>
</html>
