{% extends 'base.html' %}

{% set page = 'drop' %}

{% block title %}
Drop
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='updateFileLabel.js') }}"></script>
<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card text-center">
      <div class="card-header">
        <h4 class="card-title">Dropper</h4>
      </div>
      <div class="card-body">
        <form action="/drop" method="post" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col">
              <label>Files</label>
              <div class="input-group">
                <div class="custom-file">
                  <input class="custom-file-input" type="file" name="files" id="files"
                    onChange="updateFileLabel(this.files)" multiple />
                  <label class="custom-file-label text-left" for="files" id="files-label">Choose file</label>
                </div>
              </div>
              <small class="form-text text-muted">Put your very important files here</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Username</label>
              <input class="form-control" type="text" name="username" placeholder="Username" />
              <small class="form-text text-muted">Username you chose during registration</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Authentication code</label>
              <input class="form-control" type="text" name="authcode" pattern="\d{6}" placeholder="Code" />
              <small class="form-text text-muted">Enter your code from Google Authenticator app</small>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Drop me!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}