{% extends 'base.html' %}

{% set page = 'login' %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h4 class="card-title">Log in</h4>
  </div>
  <div class="card-body">
    <form action="/login" method="post">
      <div class="form-row">
        <div class="form-group col">
          <label>Email address</label>
          <input class="form-control" type="email" placeholder="Email"/>
          <small class="form-text text-muted">Enter your Email</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input class="form-control" type="password" placeholder="Password"/>
          <small class="form-text text-muted">Enter your password</small>
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Log in!</button>
    </form>
  </div>
</div>
{% endblock %}
