{% extends 'base.html' %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h4 class="card-title">Register</h4>
  </div>
  <div class="card-body">
    <form action="/register" method="post">
      <div class="form-row">
        <div class="form-group col">
          <label>Email address</label>
          <input class="form-control" type="email" placeholder="Email"/>
          <small class="form-text text-muted">Enter your Email</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input class="form-control" type="password" placeholder="Password"/>
          <small class="form-text text-muted">Enter your password</small>
        </div>
        <div class="form-group col">
          <label>Confirm</label>
          <input class="form-control" type="confirm-password" placeholder="Confirm"/>
          <small class="form-text text-muted">Confirm your password, do not copy paste it!</small>
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Register!</button>
    </form>
  </div>
</div>
{% endblock %}
